version: '3.8'

services:
  redis:
    image: redis:latest
    container_name: redis_container
    ports:
      - "6378:6378"
    volumes:
      - redis_data:/data
    environment:
      - REDIS_URL=redis://redis_container:6379/

volumes:
  redis_data: